.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gradient-background {
    background: linear-gradient(300deg, #322653, #5e48b8, #9681EB);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

.name {
    font-family: 'Sweet Apricot', cursive;
    font-size: 85px;
    color: #322653;
}

.lead {
    font-size: 45px;
}

.picture {
    border-radius: 50%;
    height: 200px;
}

h2.aboutme {
    color: #5e48b8;
}

.text-muted {
    color: #322653;
    width: 500px;
}

.css {
    height: 200px;
}

.htmlpic {
    height: 270px;
    margin-top: 20px;
}

.csspic {
    height: 300px;
    margin-left: 50px;
}

.pypic {
    height: 200px;
    width: 450x;
}

.comingsoonpic {
    height: 300px;
    
}

.comingsoonpicfirst {
    height: 300px;
}


.flexcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    column-gap: 100px;

    @media screen and (max-width: 600px) {
        display: block;
        grid-template-columns: 1fr;
    }

}

footer {
    background: linear-gradient(300deg, #322653, #5e48b8, #9681EB);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    margin-bottom: 0px;
}

li > svg {
    height: 300px;
}

.email {
    margin-right: 40px;
}

.header {
    background: linear-gradient(300deg, #322653, #5e48b8, #322653);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

.nav-item {
    background-color: transparent;
    color: black;
}

a.nav-link {
    color: #cf95ff;
}

.nav-link:visited {
   color: #cf95ff;
}

.first-skill {
    @media screen and (max-width: 600px) {
        padding-left: 140px;
        padding-bottom: 50px;
    }
    
}

.second-skill {
    @media screen and (max-width: 600px) {
        padding-left: 40px;
    }
    
    
}

.third-skill {
    @media screen and (max-width: 600px) {
        padding-top: 50px;
        padding-left: 35px;
    }
    
}

#skills-anchor {
    width: auto;
}

.proj1 {
    @media screen and (max-width: 600px) {
        margin-bottom: 10px;
    }
}